*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f9f9f9;

}
.wrapper{
	display: flex;
	flex-direction: column;
	width: 1040px;
	height: 950px;
	margin: auto;
	margin-left: 150px;
	margin-right: 150px;
	background-color: white;
	box-shadow: 2px 0px 2px #dbdbdb, -2px 0px 2px #dbdbdb;
}
.logo{
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 40px;
}
header{
	display: flex;
	height: 40px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
	background: linear-gradient(#5e5e5e, #444343);
}

.header_item{
	border: 1px solid transparent;
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 2px black;	
}

.header_item:hover{
	background: linear-gradient(#494949, #2f2f2f);
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	cursor: pointer;
}
.header_item a{
	text-decoration: none;
	color: white;
}
main{
	display: flex;
	justify-content: flex-start;
	flex: 1 0 auto;
}
.menu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	height: 240px;
	width: 240px;
	margin-left: 50px;
	border: 1px solid #c8c8c8;
}

.menu_item{
	text-indent: 10px;
	line-height: 38px;
	font-family: Open Sans, sans-serif;
	font-size: 13px;
	border-bottom: 1px solid #c8c8c8;
}
.menu_item:last-child{
	border-style: none;
}
.menu_item a:hover{
	background-color: #f9f9f9;
	color: black;
	text-indent: 20px;
	cursor: pointer;
}
.menu_item_a{
	display: block;
	text-decoration: none;
	color: #7a7878;
}

.content{
	width: 648px;
	height: 400px;
	margin-left: 22px;

}
.text{
	margin-left: 15px;
	margin-top: 15px;
	font-size: 13px;
	line-height: 20px;
	font-family: Open Sans, sans-serif;
}

footer{
	display: flex;
	justify-content: space-between;
	height: 40px;
	margin-left: 50px;
	margin-right: 50px;
	background: #e1e1e1;
}
.footer_section{
	display: flex;
}

.footer_item{
	color: black;
	padding: 10px 15px;
	font-size: 13px;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
}
.footer_item a{
	text-decoration: none;
	color: black;
}
.footer_item a:hover{
	text-decoration: underline;
}
/*.footer_item:last-child{
	margin-left: auto;
}*/